<body data-type="generalComponents">
    {include file='layout/top' /}

    <div class="tpl-page-container tpl-page-header-fixed">

        {include file='layout/sidebar' /}
        
        <div class="tpl-content-wrapper">
            <div class="tpl-content-page-title">
                Amaze UI 表单
            </div>
            <ol class="am-breadcrumb">
                <li><a href="#" class="am-icon-home">首页</a></li>
                <li><a href="#">表单</a></li>
                <li class="am-active">Amaze UI 表单</li>
            </ol>
            <div class="tpl-portlet-components">
                <div class="portlet-title">
                    <div class="caption font-green bold">
                        <span class="am-icon-code"></span> 新增标签
                    </div>
                </div>

                <div class="tpl-block ">

                    <div class="am-g tpl-amazeui-form">


                        <div class="am-u-sm-12 am-u-md-9">
                            <form class="am-form am-form-horizontal" id="catForm" enctype='multipart/form-data'>
                                
                                <input type="hidden" id="id" name="id" value="{if $category_info eq true}{$category_info.id}{/if}">

                                <div class="am-form-group">
                                    <label for="user-name" class="am-u-sm-3 am-form-label">分类名称</label>
                                    <div class="am-u-sm-9">
                                        <input type="text" id="category_name" name="category_name" placeholder="分类名称" value="{if $category_info eq true}{$category_info.category_name}{/if}">
                                        <small>输入分类名称。</small>
                                    </div>
                                </div>

                                <div class="am-form-group">
                                    <label for="user-name" class="am-u-sm-3 am-form-label">父分类</label>
                                    <div class="am-u-sm-9" id="parentMenu">

                                        <select name="pid" data-am-selected="{btnSize: 'sm'}">
                                            <option value="0">选择父分类</option>
                                            {volist name='parent_category_list' id='category'}
                                            <option value="{$category.id}" {if $category_info eq true && $category.id eq $category_info.pid}selected="selected"{/if}>{$category.category_name}</option>
                                            {/volist}
                                        </select>

                                        <small>父分类不选。</small>
                                    </div>
                                </div>
                                
                                <!-- <div class="am-form-group">
                                    <label for="user-name" class="am-u-sm-3 am-form-label">父分类</label>
                                    <div class="am-u-sm-9">
                                        <input type="text" id="pid" name="pid" placeholder="副标题" value="{if $category_info eq true}{$category_info.pid}{/if}">
                                        <small>输入父分类。</small>
                                    </div>
                                </div> -->   
                                
                                <div class="am-form-group">
                                    <label for="user-name" class="am-u-sm-3 am-form-label">状态</label>
                                    <div class="am-u-sm-9">
                                        <input type="number" id="status" name="status" value="{if $category_info eq true}{$category_info.status}{else}1{/if}">
                                        <small>不填为默认开启</small>
                                    </div>
                                </div>                        

                                <div class="am-form-group">
                                    <div class="am-u-sm-9 am-u-sm-push-3">
                                        <button type="button" class="am-btn am-btn-primary" id="saveBtn">保存</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

<script type="text/javascript">

var API_URL = '';

$("#saveBtn").on('click', function(){

    var data = $("#catForm").serialize();

    $.ajax({
        url:API_URL+'/category/save',
        type:'POST',
        data:data,
        dataType:'json',
        success:function(res) {
            if (res.code == 200) {
                window.location.href = API_URL+'/category';
            }else{  
                alert(res.msg)
            }
        }
    })
})

// var uploading = false;

function showPreview(obj){    
    var fileData = obj.files[0];
    var formData = new FormData();
    formData.append("images", fileData);
    formData.append("type", 'banner');

    // if(uploading){
    //     alert("头像正在上传中，请稍候");
    //     return false;
    // }

    if (!verifyPicFile(obj)) {
        // do something
    }

    $.ajax({
        url: API_URL + "/upload/uploadPic",
        type: 'POST',
        cache: false,
        data: formData,
        processData: false,
        contentType: false,
        dataType:"json",
        beforeSend: function(){
            uploading = true;
        },
        success : function(res) {
            if (res.code == 200) {
                $("#doPreview img").attr("src", res.data.img_url);
                $("#doPreview").show();
                $("#img_url").val(res.data.img_url);

                // 按钮样式
                $("#uploadBtn").removeClass("am-btn-default").addClass("am-btn-primary");
            } else {
                showError(res.data.msg);
                // 按钮样式
                $("#uploadBtn").removeClass("am-btn-default").addClass("am-btn-danger");                
            }

            $("#uploadBtn").html('<i class="am-icon-cloud-upload"></i> 重新选择图片');         
        }
    });
}

//图片尺寸验证
function verifyPicFile(file) {
    var filePath = file.value;
    if(filePath){
        //读取图片数据
        var filePic = file.files[0];
        var reader = new FileReader();
        reader.onload = function (e) {
            var data = e.target.result;
            //加载图片获取图片真实宽度和高度
            var image = new Image();
            image.onload=function(){
                var width = image.width;
                var height = image.height;
                if (width/height == 16/9){
                    //  do nothing
                }else {
                    alert("图片宽高比例应为：16:9，建议上传1920*1280尺寸的图片");
                    file.value = "";
                    return false;
                }
            };
            image.src= data;
        };
        reader.readAsDataURL(filePic);
    }else{
        return false;
    }
}

</script>