<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>52XUE 管理后台</title>
    <meta name="description" content="52XUE 管理后台">
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="icon" type="image/png" href="__STATIC__/blog/admin1/i/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="__STATIC__/blog/admin1/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-title" content="Amaze UI" />
    <link rel="stylesheet" href="__STATIC__/blog/admin1/css/amazeui.min.css" />
    <link rel="stylesheet" href="__STATIC__/blog/admin1/css/admin.css">
    <link rel="stylesheet" href="__STATIC__/blog/admin1/css/app.css">
    <script src="__STATIC__/blog/admin1/js/echarts.min.js"></script>
    <!-- 原本放在footer -->
    <script src="__STATIC__/blog/admin1/js/jquery.min.js"></script>
    <script src="__STATIC__/blog/admin1/js/amazeui.min.js"></script>
        
</head>

<style type="text/css">

.a-btn{
    background-color: #FFF
}

</style> 

<script type="text/javascript">
    
var API_URL = '/admin.php';

</script>   