
<!-- banner start -->
<div class="am-g am-g-fixed blog-fixed am-u-sm-centered blog-article-margin">
    <div data-am-widget="slider" class="am-slider am-slider-b1" data-am-slider='{&quot;controlNav&quot;:false}' >
    <ul class="am-slides">
        {foreach $rotation_list as $rotation}
        <li>
            <img src="{$rotation.picture}">
            <!-- <div class="blog-slider-desc am-slider-desc ">
                <div class="blog-text-center blog-slider-con">
                    <span><a href="" class="blog-color">{$rotation.author} &nbsp;</a></span>               
                    <h1 class="blog-h-margin"><a href="">{$rotation.title}</a></h1>
                    <p>{$rotation.slogan}</p>
                    <br><br><br><br><br><br><br>                
                </div>
            </div> -->
        </li>
        {/foreach}
    </ul>
    </div>
</div>
<!-- banner end -->

<!-- content srart -->
<div class="am-g am-g-fixed blog-fixed">
    <div class="am-u-md-8 am-u-sm-12">

        {foreach $article_list as $article}
        <article class="am-g blog-entry-article">
            <div class="am-u-lg-6 am-u-md-12 am-u-sm-12 blog-entry-img">
                <img src="{$article.cover_picture}" alt="" class="am-u-sm-12">
            </div>
            <div class="am-u-lg-6 am-u-md-12 am-u-sm-12 blog-entry-text">
                <span><a href="" class="blog-color">{$article.author} &nbsp;</a></span>
                <span> {$article.from} &nbsp;</span>
                <span>{$article.time}</span>
                <h1><a href="{$article.url}">{$article.title}</a></h1>
                <p>{$article.slogan}</p>
                <p><a href="{$article.url}" class="blog-continue">continue reading</a></p>
            </div>
        </article>
        {/foreach}
        
        <ul class="am-pagination">
  <li class="am-pagination-prev"><a href="">&laquo; Prev</a></li>
  <li class="am-pagination-next"><a href="">Next &raquo;</a></li>
</ul>
    </div>

    {include file="layout/sidebar"}
</div>
<!-- content end -->