<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="Title" content="吾记网页版 - 吾记网页版在线写日记">
    <meta name="Description" content="岁月流逝，而回忆留在吾记。吾记APP官方网页版，实时与手机上的吾记APP同步，方便快捷记录。最受欢迎的日记平台，隐私、安全、简单、精致、功能强大。日记、记事、笔记、便签、都能够满足你。吾记，期待你的到来。">
    <meta name="Keywords" content="吾记网页版,吾记官网,吾记电脑版,吾记,吾记APP,吾记官方,吾记iOS版,吾记安卓版">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>账号注册</title>
    <link href="__STATIC__/css/856d476167df436bb4fde998445ac4de.css" rel="stylesheet"/>

    <link href="__STATIC__/css/c78c7a35a6df4d5486e8e3fdb52b6864.css" rel="stylesheet"/>

    <script src="__STATIC__/js/ac76df5200b649c5974e9c272fb3bca3.js"></script>

    <style>
        .indexbtn-default {
            background-color: #222222;
            border-color: #222222;
        }

            .indexbtn-default:hover {
                border-color: #222222;
            }

            .indexbtn-default .caret {
                border-top-color: #808080;
            }

            .indexbtn-default:focus {
                border-color: #222222;
            }

        .btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
            border-color: #222222;
        }
        .categoryListoColor {
            border-radius: 50%;
            width: 10px;
            height: 10px;
            float: left;
            margin-top: 5px;
            border: 1px solid #808080;
        }
    </style>
 
</head>
<body id="BodyInnerHtml">
    <!-- <div class="navbar navbar-inverse navbar-fixed-top"  id="topMune">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="btn-group" id="menuDiv">
                    <button type="button" class="btn btn-default indexbtn-default dropdown-toggle navbar-brand " data-toggle="dropdown" id="btnMydiarys">
                        我的日记
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" style="width: 250px;height:450px;overflow-y:auto" role="menu" id="ulmenu">
                    </ul>
                    
                </div>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">

                    <li><a href="/WuJi/PasserBy">过客</a></li>
                    <li><a href="/Home/About">关于</a></li>
                    <li><a href="/WuJi/Download" id="DownloadLink">下载</a></li>
                    <li id="buyLi"><a href="/WuJi/BuyVip">购买</a></li>
                    <li><a href="/WuJi/WuJiHelp">帮助</a></li>
                </ul>

                

    <ul class="nav navbar-nav navbar-right">

        <li><a class="navbar-brand" href="/WuJi/WriteDiary" id="WriteLink">写日记</a></li>
        

        <li>
           
           
            <img src='static/picture/201811081418021884296a1061931.jpg' style="width:30px;height:30px;border:1px solid #fff;border-radius:50%;margin-top:10px">
           
        </li>
        <li><a href="/WuJi/LoginOut" id="logoutLink">注销</a></li>
    </ul>

            </div>
        </div>
    </div> -->
    <div class="container body-content">
        

<h2>账号注册</h2>
<form class="form-horizontal">
    <input name="__RequestVerificationToken" type="hidden" value="QOwm6sFG6B8ou9OHUJx6YKqseSeZNc8-EAZoqBnd0VfFQAgF7pAueeEEjjC9WB_QeuUNYg9nsmhGk1LVd3JVJfZlcl2NWUCetpgglyiqbF01" />
    <hr />
    <div class="validation-summary-valid text-danger" data-valmsg-summary="true">
        <ul>
            <li style="display:none"></li>
        </ul>
    </div>
    <div class="form-group" style="margin-left:18%">
        <label id="lblMsgResult" style="display:none"></label>
    </div>
    <!-- <div class="form-group">
        <label class="col-md-2 control-label" for="email">账号</label>
        <div class="col-md-10">
            <input class="form-control" data-val="true" data-val-email="The 账号 field is not a valid e-mail address." data-val-required="账号 字段是必需的。" id="email" name="email" placeholder="输入账号邮箱" type="text" value="" />
        </div>
    </div> -->
    <div class="form-group">
        <label class="col-md-2 control-label" for="text">账号</label>
        <div class="col-md-10">
            <input class="form-control" data-val="true" data-val-name="The 用户名 field is not a valid e-mail address." data-val-required="用户名字段是必需的。" id="userName" name="userName" placeholder="输入用户名" type="text" value="" />
        </div>
    </div>
    <div class="form-group" style="margin-left:18%">
        <label id="lblEmailResult" style="display:none"></label>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label" for="nickName">昵称</label>
        <div class="col-md-10">
            <input class="form-control" data-val="true" data-val-required="昵称 字段是必需的。" id="nickName" name="nickName" placeholder="输入吾记昵称" type="text" value="" />
        </div>

    </div>
    <div class="form-group" style="margin-left:18%">
        <label id="lblNicknameResult" style="display:none"></label>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label" for="loginPwd">密码</label>
        <div class="col-md-10">
            <input class="form-control" data-val="true" data-val-length="密码 必须至少包含 6 个字符。" data-val-length-max="100" data-val-length-min="6" data-val-required="密码 字段是必需的。" id="loginPwd" name="loginPwd" placeholder="输入登录密码" type="password" />
        </div>

    </div>
    <div class="form-group" style="margin-left:18%">
        <label id="lblPasswordResult" style="display:none"></label>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label" for="ConfirmPassword">确认密码</label>
        <div class="col-md-10">
            <input class="form-control" data-val="true" data-val-equalto="密码和确认密码不匹配。" data-val-equalto-other="*.loginPwd" id="ConfirmPassword" name="ConfirmPassword" placeholder="再次输入登录密码" type="password" />
        </div>

    </div>
    <div class="form-group" style="margin-left:18%">
        <label id="lblConfirmPasswordResult" style="display:none"></label>
    </div>
    <!-- <div class="form-group">
        <label class="col-md-2 control-label" for="vrifyCode">验证码</label>
        <div class="col-md-4">

            <input class="form-control" id="vrifyCode" name="vrifyCode" placeholder="输入验证码" style="width:30%;float: left" type="text" value="" />


            <img src="static/picture/068f091ddd354e718dc4ebd5418f2b9e.gif" id="imgCode" alt="单击可刷新" onclick="ClickRemoveChangeCode()" style="margin: 5px;float: left" />
            <div style="float:left; margin-top: 5px;">
                <a href="javascript:void(0)" onclick="ClickRemoveChangeCode();return false;">看不清，换一张</a>
            </div>

        </div>

    </div> -->
    <div class="form-group" style="margin-left:18%">
        <label id="lblVrifyCodeResult" style="display:none"></label>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="button" class="btn btn-default" value="注册" id="btnRegister" />
        </div>
    </div>
</form>



        <hr />
        <!-- <footer style="text-align:center">
            <p id="ICPp">&copy; 2015 - 2018 吾记v1.0  粤ICP备17034106号 </p>
        </footer> -->
    </div>

    <script src="__STATIC__/js/jquery.min.js"></script>
<!-- 
    <script src="__STATIC__/js/11fccb833d7042aabd91dd7c57a9647e.js"></script>

    <script src="__STATIC__/js/5ac0ee38601343638a12c4e153198bb3.js"></script>
    
    <script src="__STATIC__/js/d1d0dc6009c7449cb9f98cb59db31e2b.js"></script>

    <script src="__STATIC__/js/cbb89b7942fd444287d13abc1e9b4181.js"></script> -->


    
    <link href="__STATIC__/css/layer_1.css" rel="stylesheet" />
    <style>
        body {
            background-color: #fff;
        }
    </style>

    <script>
	    $(function () {
            if (/Android|webOS|iPhone|iPod|BlackBerry/i.test(navigator.userAgent)) {


            } else {
                $("#buyLi").attr("style", "display:none");
            }
        })


        $("#btnRegister").on('click', function(){
            var formData = $(".form-horizontal").serialize();
            
            $.ajax({
                type:'POST',
                url:'/login/register',
                data:formData,
                dataType:'json',
                success:function(res){
                    if (res.code == '200') {
                        window.location.href = '/login';
                    }else{
                        alert(res.msg)
                    }
                }
            })
        })

    </script>
</body>

</html>
