<body data-type="generalComponents">
    {include file='layout/top' /}

    <div class="tpl-page-container tpl-page-header-fixed">

        {include file='layout/sidebar' /}

        <div class="tpl-content-wrapper">
            <div class="tpl-content-page-title">
                Amaze UI 文字列表
            </div>
            <ol class="am-breadcrumb">
                <li><a href="#" class="am-icon-home">首页</a></li>
                <li><a href="#">Amaze UI CSS</a></li>
                <li class="am-active">文字列表</li>
            </ol>
            <div class="tpl-portlet-components">
                <div class="portlet-title">
                    <div class="caption font-green bold">
                        <span class="am-icon-code"></span> 列表
                    </div>
                    <div class="tpl-portlet-input tpl-fz-ml">
                        <div class="portlet-input input-small input-inline">
                            <div class="input-icon right">
                                <i class="am-icon-search"></i>
                                <input type="text" class="form-control form-control-solid" placeholder="搜索..."> </div>
                        </div>
                    </div>


                </div>
                <div class="tpl-block">
                    <div class="am-g">
                        <div class="am-u-sm-12 am-u-md-6">
                            <div class="am-btn-toolbar">
                                <div class="am-btn-group am-btn-group-xs">
                                    <a href="/admin.php/banner/edit" class="am-btn am-btn-default am-btn-success"><span class="am-icon-plus"></span> 新增</a>
                                    <!-- <button type="button" class="am-btn am-btn-default am-btn-secondary"><span class="am-icon-save"></span> 保存</button>
                                    <button type="button" class="am-btn am-btn-default am-btn-warning"><span class="am-icon-archive"></span> 审核</button>
                                    <button type="button" class="am-btn am-btn-default am-btn-danger"><span class="am-icon-trash-o"></span> 删除</button> -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="am-g">

                        <div class="tpl-table-images">
                            {volist name='banner_list' id='banner'}
                            <div class="am-u-sm-12 am-u-md-6 am-u-lg-4">
                                <div class="tpl-table-images-content">
                                    <div class="tpl-table-images-content-i-time">发布时间：{$banner.created_time}</div>
                                    <div class="tpl-i-title">
                                        <b>{$banner.title}</b>
                                    </div>
                                    <a href="javascript:;" class="tpl-table-images-content-i" style="height: 12vw;">
                                        <!-- <span class="tpl-table-images-content-i-shadow"></span> -->
                                        <img src="{$banner.img_url}" alt="">
                                    </a>
                                    <div class="tpl-table-images-content-block">
                                        <div class="tpl-i-font">
                                            {$banner.sub_title}
                                        </div>
                                        <div class="tpl-i-more">
                                            <ul>
                                                <!-- <li><span class="am-icon-qq am-text-warning"> 100+</span></li>
                                                <li><span class="am-icon-weixin am-text-success"> 235+</span></li>
                                                <li><span class="am-icon-github font-green"> 600+</span></li> -->
                                            </ul>
                                        </div>
                                        <div class="am-btn-toolbar">
                                            <div class="am-btn-group am-btn-group-sm tpl-edit-content-btn">
                                                <!-- <button type="button" class="am-btn am-btn-default am-btn-success"><span class="am-icon-plus"></span> 新增</button> -->
                                                <a href="/admin.php/banner/edit?id={$banner.id}" class="am-btn am-btn-default am-btn-secondary" role="button"><span class="am-icon-edit"></span> 编辑</a>
                                                <!-- <button type="button" class="am-btn am-btn-default am-btn-warning"><span class="am-icon-archive"></span> 审核</button> -->
                                                <a href="/admin.php/banner/del?id={$banner.id}" class="am-btn am-btn-default am-btn-danger" role="button"><span class="am-icon-trash-o"></span> 删除</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {/volist}
                        </div>
                    </div>
                    <!-- <div class="am-g">
                        <div class="am-u-sm-12">
                            <form class="am-form">
                                <table class="am-table am-table-striped am-table-hover table-main">
                                    <thead>
                                        <tr>
                                            <th class="table-check"><input type="checkbox" class="tpl-table-fz-check"></th>
                                            <th class="table-id">ID</th>
                                            <th class="table-title">标题</th>
                                            <th class="table-type">副标题</th>
                                            <th class="table-author am-hide-sm-only">描述</th>
                                            <th class="table-date am-hide-sm-only">图片</th>
                                            <th class="table-date am-hide-sm-only">状态</th>
                                            <th class="table-set">操作</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        {volist name='banner_list' id='banner'}
                                        <tr>
                                            <td><input type="checkbox"></td>
                                            <td>{$banner.id}</td>
                                            <td><a href="#">{$banner.title}</a></td>
                                            <td>{$banner.sub_title}</td>
                                            <td>{$banner.desc}</td>
                                            <td class="am-hide-sm-only">{$banner.img_url}</td>
                                            <td class="am-hide-sm-only">{$banner.status}</td>
                                            <td>
                                                <div class="am-btn-toolbar">
                                                    <div class="am-btn-group am-btn-group-xs">

                                                        <a class="am-btn am-btn-default am-btn-xs am-text-secondary a-btn" onclick="doEdit({$banner.id})">
                                                            
                                                            <span class="am-icon-pencil-square-o"></span> 编辑
                                                        </a>

                                                        <a class="am-btn am-btn-default am-btn-xs am-text-danger am-hide-sm-only a-btn" onclick="doDel({$banner.id})">
                                                            <span class="am-icon-trash-o"></span> 删除
                                                        </a>

                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        {/volist}
                                        
                                    </tbody>
                                </table>
                                <div class="am-cf">

                                    <div class="am-fr">
                                        
                                        {$pager}
                                    </div>

                                    
                                </div>
                                <hr>

                            </form>
                        </div>

                    </div> -->
                </div>
                <div class="tpl-alert"></div>
            </div>
        </div>
    </div>
</body>


<script type="text/javascript">

var API_URL = '/admin.php';
    
$("#parentMenu select").on('change', function(){
    var parent = $(this).val();
    window.location.href = '/admin.php/banner';
})

function doEdit(id){
    window.location.href = API_URL+'/banner/edit?id='+id;
}

function doDel(id){
    window.location.href = API_URL+'/banner/del?id='+id;
}

function doCopy(id){
    window.location.href = API_URL+'/banner/edit?id='+id;
}

</script>