<body data-type="generalComponents">
    {include file='layout/top' /}

    <div class="tpl-page-container tpl-page-header-fixed">

        {include file='layout/sidebar' /}
        
        <div class="tpl-content-wrapper">
            <div class="tpl-content-page-title">
                Amaze UI 表单
            </div>
            <ol class="am-breadcrumb">
                <li><a href="#" class="am-icon-home">首页</a></li>
                <li><a href="#">表单</a></li>
                <li class="am-active">Amaze UI 表单</li>
            </ol>
            <div class="tpl-portlet-components">
                <div class="portlet-title">
                    <div class="caption font-green bold">
                        <span class="am-icon-code"></span> {if $menu_info}编辑{else}新增{/if}菜单
                    </div>
                </div>

                <div class="tpl-block ">

                    <div class="am-g tpl-amazeui-form">


                        <div class="am-u-sm-12 am-u-md-9">
                            <form class="am-form am-form-horizontal">
                                
                                <input type="hidden" id="id" name="id" value="{if $menu_info eq true}{$menu_info.id}{/if}">
                                <input type="hidden" id="type" name="type" value="{$type}">

                                <div class="am-form-group">
                                    <label for="user-name" class="am-u-sm-3 am-form-label">菜单名称</label>
                                    <div class="am-u-sm-9">
                                        <input type="text" id="name" name="name" placeholder="菜单名称" value="{if $menu_info eq true}{$menu_info.name}{/if}">
                                        <small>输入菜单名称。</small>
                                    </div>
                                </div>
                                
                                <div class="am-form-group">
                                    <label for="user-name" class="am-u-sm-3 am-form-label">上级菜单</label>
                                    <div class="am-u-sm-9" id="parentMenu">

                                        <select name="parent" data-am-selected="{btnSize: 'sm'}">
                                            <option value="0">选择菜单</option>
                                            {volist name='father_menu_list' id='menu'}
                                            <option value="{$menu.id}" {if $menu_info eq true && $menu.id eq $menu_info.parent}selected="selected"{/if}>{$menu.name}</option>
                                            {/volist}
                                        </select>

                                        <small>父级菜单不选。</small>
                                    </div>
                                </div> 
                                
                                <div class="am-form-group">
                                    <label for="user-name" class="am-u-sm-3 am-form-label">路由</label>
                                    <div class="am-u-sm-9">
                                        <input type="text" id="route" name="route" placeholder="路由" value="{if $menu_info eq true}{$menu_info.route}{/if}">
                                    </div>
                                </div>
                                
                                <div class="am-form-group">
                                    <label for="user-name" class="am-u-sm-3 am-form-label">图标</label>
                                    <div class="am-u-sm-9">
                                        <input type="text" id="data" name="data" placeholder="默认：circle-o" value="{if $menu_info eq true}{$menu_info.data}{/if}">
                                        <small>输入菜单图标代码，默认为 <i class="am-icon-circle-o"></i>，代码：circle-o</small>
                                    </div>
                                </div>  
                                
                                <div class="am-form-group">
                                    <label for="user-name" class="am-u-sm-3 am-form-label">排序</label>
                                    <div class="am-u-sm-9">
                                        <input type="number" id="order" name="order" value="{if $menu_info eq true}{$menu_info.order}{/if}">
                                        <small>不填为默认排序</small>
                                    </div>
                                </div>                        

                                <div class="am-form-group">
                                    <div class="am-u-sm-9 am-u-sm-push-3">
                                        <button type="button" class="am-btn am-btn-primary">保存</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

<script type="text/javascript">

var API_URL = '';

$(".am-btn-primary").on('click', function(){

    var data = $(".am-form").serialize();

    $.ajax({
        url:API_URL+'/menu/save',
        type:'POST',
        data:data,
        dataType:'json',
        success:function(res) {
            if (res.code == 200) {
                window.location.href = API_URL+'/menu?type='+{$type};
            }else{  
                alert(res.msg)
            }
        }
    })
})

</script>