<script type="text/javascript" charset="utf-8" src="__STATIC__/ueditor/utf8-php/ueditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="__STATIC__/ueditor/utf8-php/ueditor.all.min.js"> </script>
<!--建议手动加在语言，避免在ie下有时因为加载语言失败导致编辑器加载失败-->
<!--这里加载的语言文件会覆盖你在配置项目里添加的语言类型，比如你在配置项目里配置的是英文，这里加载的中文，那最后就是中文-->
<script type="text/javascript" charset="utf-8" src="__STATIC__/ueditor/utf8-php/lang/zh-cn/zh-cn.js"></script>

<body data-type="generalComponents">
    {include file='layout/top' /}

    <div class="tpl-page-container tpl-page-header-fixed">

        {include file='layout/sidebar' /}
        
        <div class="tpl-content-wrapper">
            <div class="tpl-content-page-title">
                Amaze UI 表单
            </div>
            <ol class="am-breadcrumb">
                <li><a href="#" class="am-icon-home">首页</a></li>
                <li><a href="#">表单</a></li>
                <li class="am-active">Amaze UI 表单</li>
            </ol>
            <div class="tpl-portlet-components">
                <div class="portlet-title">
                    <div class="caption font-green bold">
                        <span class="am-icon-code"></span> 发表文章
                    </div>
                </div>

                <div class="tpl-block ">

                    <div class="am-g tpl-amazeui-form tpl-form-line">


                        <div class="am-u-sm-12 am-u-md-9">
                            <form class="am-form am-form-horizontal tpl-form-line-form" id="articleForm" enctype='multipart/form-data'>
                                
                                <input type="hidden" id="id" name="id" value="{if $article_info eq true}{$article_info.id}{/if}">

                                <div class="am-form-group">
                                    <label for="user-name" class="am-u-sm-3 am-form-label">标题</label>
                                    <div class="am-u-sm-9">
                                        <input type="text" class="tpl-form-input" id="title" name="title" placeholder="文章名称" value="{if $article_info eq true}{$article_info.title}{/if}">
                                        <small>输入文章标题。</small>
                                    </div>
                                </div> 
                                
                                <div class="am-form-group">
                                    <label for="user-name" class="am-u-sm-3 am-form-label">副标题</label>
                                    <div class="am-u-sm-9">
                                        <input type="text" id="sub_title" name="sub_title" placeholder="副标题" value="{if $article_info eq true}{$article_info.sub_title}{/if}">
                                        <small>输入文章副标题。</small>
                                    </div>
                                </div>
                                
                                <div class="am-form-group">
                                    <label for="user-name" class="am-u-sm-3 am-form-label">描述</label>
                                    <div class="am-u-sm-9">
                                        <input type="text" id="slogan" name="slogan" placeholder="描述" value="{if $article_info eq true}{$article_info.slogan}{/if}">
                                        <small>输入一段描述文字</small>
                                    </div>
                                </div>  
                                
                                <div class="am-form-group">
                                    <label for="user-name" class="am-u-sm-3 am-form-label">封面图片</label>
                                    <div class="am-u-sm-9">
                                        
                                        <input type="text" id="cover_image" name="cover_image" value="{if $article_info eq true}{$article_info.cover_image}{else}__STATIC__/blog/admin1/img/a5.png{/if}">
                                        <br>
                                        <div class="am-form-group am-form-file">

                                            <div class="tpl-form-file-img" id="doPreview" if $article_info neq true}style="display: none;"{/if}>
                                                <img src="{if $article_info eq true}{$article_info.cover_image}{else}__STATIC__/blog/admin1/img/a5.png{/if}" alt="">
                                            </div>

                                            <button type="button" id="uploadBtn" class="am-btn {if $article_info}am-btn-primary{else}am-btn-default{/if} am-btn-sm">
                                                <i class="am-icon-cloud-upload"></i> {if $article_info}重新选择图片{else}选择要上传的图片{/if}
                                            </button>
                                            <input type="file" name="images" multiple="multipart/form-data" onchange="showPreview(this)">
                                        </div>                                        
                                    </div>
                                </div>
                                
                                <div class="am-form-group">
                                    <label for="user-name" class="am-u-sm-3 am-form-label">正文</label>
                                    <div class="am-u-sm-9">
                                        <script id="editor" type="text/plain" style="width:100%;height:500px;">{if $article_info eq true}{$article_info.content}{/if}</script>
                                        <input type="hidden" id="content" name="content" value="">
                                    </div>
                                </div> 
                                
                                <div class="am-form-group">
                                    <div class="am-u-sm-9 am-u-sm-push-3">
                                        <button type="button" class="am-btn am-btn-default" id="saveBtn">保存</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

<script type="text/javascript">

// 实例化编辑器
// 建议使用工厂方法getEditor创建和引用编辑器实例，如果在某个闭包下引用该编辑器，直接调用UE.getEditor('editor')就能拿到相关的实例
var ue = UE.getEditor('editor', {toolbars: [[
    // 'anchor', //锚点
    // 'undo', //撤销
    // 'redo', //重做
    'bold', //加粗
    'italic', //斜体
    'underline', //下划线
    'strikethrough', //删除线
    // 'subscript', //下标
    // 'fontborder', //字符边框
    // 'superscript', //上标
    // 'formatmatch', //格式刷
    // 'source', //源代码
    // 'blockquote', //引用
    // 'pasteplain', //纯文本粘贴模式
    // 'selectall', //全选
    // 'print', //打印
    'preview', //预览
    'horizontal', //分隔线
    // 'removeformat', //清除格式
    // 'time', //时间
    // 'date', //日期
    // 'unlink', //取消链接
    // 'insertrow', //前插入行
    // 'insertcol',//前插入列
    // 'mergeright', //右合并单元格
    // 'mergedown', //下合并单元格
    // 'deleterow', //删除行
    // 'deletecol', //删除列
    // 'splittorows', //拆分成行
    // 'splittocols', //拆分成列'splittocells', 

    //完全拆分单元格'deletecaption', //删除表格标题'inserttitle', //插入标题'mergecells', //合并多个单元格'deletetable', //删除表格'cleardoc', //清空文档'insertparagraphbeforetable', //"表格前插入行"
    
    'insertcode', //代码语言
    'fontfamily', //字体
    'fontsize', //字号
    'forecolor', //字体颜色
    // 'paragraph', //段落格式
    'simpleupload', //单图上传
    'insertimage', //多图上传
    'snapscreen', //截图
    // 'edittable', //表格属性
    // 'edittd',  //单元格属性
    'link', //超链接
    'emotion', //表情
    'spechars', //特殊字符'searchreplace', //查询替换'map', //Baidu地图'gmap', //Google地图'insertvideo', //视频
    // 'help', //帮助
    'indent', //首行缩进
    'justifyleft', //居左对齐
    'justifyright', //居右对齐
    'justifycenter', //居中对齐
    'justifyjustify', //两端对齐
    'backcolor', //背景色
    'insertorderedlist', //有序列表
    'insertunorderedlist',//无序列表
    'fullscreen', //全屏'directionalityltr', //从左向右输入'directionalityrtl', //从右向左输入'rowspacingtop', //段前距'rowspacingbottom', //段后距'pagebreak', //分页'insertframe',

    //插入Iframe'imagenone', //默认'imageleft', //左浮动'imageright', //右浮动'attachment', //附件'imagecenter', //居中'wordimage', //图片转存'lineheight', //行间距'edittip ', //编辑提示'customstyle', 

    //自定义标题
    // 'autotypeset', //自动排版'webapp', //百度应用
    // 'touppercase', //字母大写
    // 'tolowercase', //字母小写'background', //背景'template', //模板'scrawl', //涂鸦'music', //音乐'inserttable',

    //插入表格'drafts', // 从草稿箱加载
    // 'charts', // 图表
 ]]});
// 獲取編輯器文本內容
function getContent() {
    return UE.getEditor('editor').getContent();
}

var API_URL = '/admin.php';

$("#saveBtn").on('click', function(){
    $("#content").val(getContent());

    var data = $("#articleForm").serialize();
// console.log(data);return;
    $.ajax({
        url:API_URL+'/article/save',
        type:'POST',
        data:data,
        dataType:'json',
        success:function(res) {
            if (res.code == 200) {
                window.location.href = API_URL+'/article';
            }else{  
                alert(res.msg)
            }
        }
    })
})

// var uploading = false;

function showPreview(obj){    
    var fileData = obj.files[0];
    var formData = new FormData();
    formData.append("images", fileData);
    formData.append("type", 'article');

    // if(uploading){
    //     alert("头像正在上传中，请稍候");
    //     return false;
    // }

    if (!verifyPicFile(obj)) {
        // do something
    }

    $.ajax({
        url: API_URL + "/upload/uploadPic",
        type: 'POST',
        cache: false,
        data: formData,
        processData: false,
        contentType: false,
        dataType:"json",
        beforeSend: function(){
            uploading = true;
        },
        success : function(res) {
            if (res.code == 200) {
                $("#doPreview img").attr("src", res.data.img_url);
                $("#doPreview").show();
                $("#cover_image").val(res.data.img_url);

                // 按钮样式
                $("#uploadBtn").removeClass("am-btn-default").addClass("am-btn-primary");
            } else {
                showError(res.data.msg);
                // 按钮样式
                $("#uploadBtn").removeClass("am-btn-default").addClass("am-btn-danger");                
            }

            $("#uploadBtn").html('<i class="am-icon-cloud-upload"></i> 重新选择图片');         
        }
    });
}

//图片尺寸验证
function verifyPicFile(file) {
    var filePath = file.value;
    if(filePath){
        //读取图片数据
        var filePic = file.files[0];
        var reader = new FileReader();
        reader.onload = function (e) {
            var data = e.target.result;
            //加载图片获取图片真实宽度和高度
            var image = new Image();
            image.onload=function(){
                var width = image.width;
                var height = image.height;
                if (width/height == 16/9){
                    //  do nothing
                }else {
                    alert("图片宽高比例应为：16:9，建议上传1920*1280尺寸的图片");
                    file.value = "";
                    return false;
                }
            };
            image.src= data;
        };
        reader.readAsDataURL(filePic);
    }else{
        return false;
    }
}

</script>