<body data-type="generalComponents">
    {include file='layout/top' /}

    <div class="tpl-page-container tpl-page-header-fixed">

        {include file='layout/sidebar' /}

        <div class="tpl-content-wrapper">
            <div class="tpl-content-page-title">
                Amaze UI 文字列表
            </div>
            <ol class="am-breadcrumb">
                <li><a href="#" class="am-icon-home">首页</a></li>
                <li><a href="#">Amaze UI CSS</a></li>
                <li class="am-active">文字列表</li>
            </ol>
            <div class="tpl-portlet-components">
                <div class="portlet-title">
                    <div class="caption font-green bold">
                        <span class="am-icon-code"></span> 列表
                    </div>
                    <div class="tpl-portlet-input tpl-fz-ml">
                        <div class="portlet-input input-small input-inline">
                            <div class="input-icon right">
                                <i class="am-icon-search"></i>
                                <input type="text" class="form-control form-control-solid" placeholder="搜索..."> </div>
                        </div>
                    </div>


                </div>
                <div class="tpl-block">
                    <div class="am-g">
                        <div class="am-u-sm-12 am-u-md-6">
                            <div class="am-btn-toolbar">
                                <div class="am-btn-group am-btn-group-xs">
                                    <a href="/admin.php/article/edit" class="am-btn am-btn-default am-btn-success"><span class="am-icon-plus"></span> 新增</a>
                                    <!-- <button type="button" class="am-btn am-btn-default am-btn-secondary"><span class="am-icon-save"></span> 保存</button>
                                    <button type="button" class="am-btn am-btn-default am-btn-warning"><span class="am-icon-archive"></span> 审核</button>
                                    <button type="button" class="am-btn am-btn-default am-btn-danger"><span class="am-icon-trash-o"></span> 删除</button> -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="am-g">
                        <div class="am-u-sm-12">
                            <form class="am-form">
                                <table class="am-table am-table-striped am-table-hover table-main">
                                    <thead>
                                        <tr>
                                            <th class="table-check"><input type="checkbox" class="tpl-table-fz-check"></th>
                                            <th class="table-id">ID</th>
                                            <th class="table-author am-hide-sm-only">作者</th>
                                            <th class="table-title">標題</th>
                                            <!-- <th class="table-type">副標題</th>
                                            <th class="table-author am-hide-sm-only">slogan</th> -->
                                            <th class="table-date am-hide-sm-only">封面圖</th>
                                            <th class="table-date am-hide-sm-only">分類</th>
                                            <th class="table-date am-hide-sm-only">狀態</th>
                                            <th class="table-set">操作</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        {volist name='article_list' id='article'}
                                        <tr>
                                            <td><input type="checkbox"></td>
                                            <td>{$article.id}</td>
                                            <td class="am-hide-sm-only">{$article.author_id}</td>
                                            <td><a href="#">{$article.title}</a></td>
                                            <!-- <td>{$article.sub_title}</td>
                                            <td>{$article.slogan}</td> -->
                                            <td class="am-hide-sm-only"><i class="am-icon-{$article.cover_image}"></i></td>
                                            <td class="am-hide-sm-only">{$article.category}</td>
                                            <td>
                                                <div class="tpl-switch">
                                                    <input type="checkbox" id="status" name="status" class="ios-switch bigswitch tpl-switch-btn" checked />
                                                    <div class="tpl-switch-btn-view">
                                                        <div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="am-btn-toolbar">
                                                    <div class="am-btn-group am-btn-group-xs">

                                                        <a class="am-btn am-btn-default am-btn-xs am-text-secondary a-btn" onclick="doEdit({$article.id})">
                                                            <!-- <a href="/admin.php/article/edit?id={$article.id}"> -->
                                                            <span class="am-icon-pencil-square-o"></span> 编辑
                                                            <!-- </a> -->
                                                        </a>

                                                        <!-- <a class="am-btn am-btn-default am-btn-xs am-hide-sm-only a-btn" onclick="doCopy({$article.id})">
                                                            <span class="am-icon-copy"></span> 复制
                                                        </a> -->

                                                        <a class="am-btn am-btn-default am-btn-xs am-text-danger am-hide-sm-only a-btn" onclick="doDel({$article.id})">
                                                            <span class="am-icon-trash-o"></span> 删除
                                                        </a>

                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        {/volist}
                                        
                                    </tbody>
                                </table>
                                <div class="am-cf">

                                    <div class="am-fr">
                                        <!-- <ul class="am-pagination tpl-pagination">
                                            <li class="am-disabled"><a href="#">«</a></li>
                                            <li class="am-active"><a href="#">1</a></li>
                                            <li><a href="#">2</a></li>
                                            <li><a href="#">3</a></li>
                                            <li><a href="#">4</a></li>
                                            <li><a href="#">5</a></li>
                                            <li><a href="#">»</a></li>
                                        </ul> -->
                                        <!-- 下列生成的代码除上下页按钮 间隔都不对，但是上述代码却没问题，很奇怪，待处理 -->
                                        {$pager}
                                    </div>

                                    
                                </div>
                                <hr>

                            </form>
                        </div>
                    </div>                    
                </div>
                <div class="tpl-alert"></div>
            </div>
        </div>
    </div>
</body>


<script type="text/javascript">

var API_URL = '/admin.php';
    
$("#parentarticle select").on('change', function(){
    var parent = $(this).val();
    window.location.href = '/admin.php/article';
})

function doEdit(id){
    window.location.href = API_URL+'/article/edit?id='+id;
}

function doDel(id){
    window.location.href = API_URL+'/article/del?id='+id;
}

function doCopy(id){
    window.location.href = API_URL+'/article/edit?id='+id;
}

</script>