<!-- nav start -->
<nav class="am-g am-g-fixed blog-fixed blog-nav">
<button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only blog-button" data-am-collapse="{target: '#blog-collapse'}" ><span class="am-sr-only">导航切换</span> <span class="am-icon-bars"></span></button>

  <div class="am-collapse am-topbar-collapse" id="blog-collapse">
    <ul class="am-nav am-nav-pills am-topbar-nav">
      
        {foreach $menu_list as $menu}

        <li {if $menu.children eq true} class="am-dropdown" data-am-dropdown {/if}>
            <a {if $menu.children eq true} class="am-dropdown-toggle" data-am-dropdown-toggle href="javascript:;"{else} href="{$menu.url}"{/if}>
                {$menu.name}{if $menu.children eq true} <span class="am-icon-caret-down"></span>{/if}
            </a>
            {if $menu.children eq true}
            <ul class="am-dropdown-content">
                {foreach $menu.children as $child}
                <li><a href="{$child.url}">{$child.name}</a></li> 
                {/foreach}
            </ul>
            {/if}
        </li>

        {/foreach}
    </ul>
    <form class="am-topbar-form am-topbar-right am-form-inline" role="search">
      <div class="am-form-group">
        <input type="text" class="am-form-field am-input-sm" placeholder="搜索">
      </div>
    </form>
  </div>
</nav>

<hr>
<!-- nav end -->